[Unit]
Description=Apply Gardener specific OS configuration
Documentation=https://github.com/gardenlinux/gardenlinux/docs/gardener-kernel-restart.md
After=docker.service containerd.service cloud-config-downloader.service
Before=kubelet.service gardener-restart-kernel.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
StandardOutput=journal+console
StandardError=inherit
ExecStart=/bin/bash -c 'for i in $(ls -1 /var/lib/gardener-gardenlinux/[0-9][0-9]_* | sort); do $i; done'
